.profile__edit-button {
  margin: 37px 0 0 18px;
  padding: 0;
  border: 1px solid #FFFFFF;
  width: 24px;
  height: 24px;
  background-image: url('../../../img/button1.svg');
  background-color: black;
  background-size: 10px 10px;
  background-repeat: no-repeat;
  background-position: center;
  box-sizing: border-box;
  cursor: pointer;
  transition: opacity 100ms ease-in-out;
}

@media screen and (max-width: 864px) {
  .profile__edit-button {
    width: 18px;
    height: 18px;
    background-size: 7.5px 7.5px;
    margin: 0;
    position: absolute;
    top: 8px;
    right: -28px;
  }
}

.profile__edit-button:hover {
  opacity: 0.6;
}
