.popup__input {
  width: 83.255814%;
  margin: 13px auto 0 auto;
  padding: 0 0 9px 0;
  border: 0;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  outline: none;
}
